/**/
body{
    font-family: 'Roboto', sans-serif;
}

#makeblack{
    border: solid 3px black;
}
#makegreen{
    border: solid 3px green;
}
#makered{
    border: solid 3px red;
}
#makeyellow{
    border: solid 3px yellow;
}

h1
{
    text-align: center;
    color: greenyellow;
}